@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
body {
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.taskbar {
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 11vh;
    display: flex;
    justify-content: center;
    background-color: black;
    position: fixed;
}

.funtion_name:hover {
    color: azure;
}

.funtion_name {
    text-decoration: none;
    color: #94B5FA;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 17px
}

.box {
    width: 98, 5vw;
    height: 140vh;
    position: relative;
    border: black solid 5px;
    background: linear-gradient(45deg, rgba(26, 26, 28, 0.199), #1a1a1d), url(image/luffyace.jpg) no-repeat center/ cover;
    ;
}

.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    width: 98, 5vw;
    height: 140vh;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.05), rgb(59, 53, 53)), url(image/robin.jpg) no-repeat center / cover;
}

.box-child {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10vw;
    bottom: 75vh;
    position: absolute;
    width: 40vw;
    height: 10vh;
    color: white;
    font-size: 30px;
    border: 4.5px #94B5FA solid;
}

.box3-content {
    margin: auto;
    font-size: 50px;
}

.box2 {
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    width: 98, 5vw;
    height: 110vh;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.199), rgb(59, 53, 53)), url(image/teamluffy.png) no-repeat center / cover;
}

.column-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    padding: 0 16px;
    flex: 1;
}

.column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column1:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgb(0, 0, 0));
    border-left: 5px solid #94B5FA;
    color: #94B5FA
}

.column2 {
    flex: 2;
    border-left: 5px solid black
}

.column2:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgb(0, 0, 0));
    border-left: 5px solid #94B5FA;
    color: #94B5FA
}

.column3 {
    border-left: 5px solid black
}

.column3:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgb(0, 0, 0));
    border-left: 5px solid #94B5FA;
    color: #94B5FA
}

.Layout {
    border: 5px solid black;
    display: flex;
    background: #94B5FA no-repeat center/cover;
    flex-direction: column;
    /* justify-content: space-around; */
}


/* Thay doi cach hien thi neu man hinh nho hon */

@media (min-width: 740px) {
    .Layout {
        flex-direction: row;
    }
}

.lo {
    flex-basis: 100/3%;
}

.layout1 {
    border: 5px solid #65A69A;
    padding: 10px;
    color: transparent;
    background: url(image/Zoro.jpg) no-repeat center/cover;
}

.layout1:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgb(86, 151, 97)), url(image/Zoro.jpg) no-repeat center/cover;
    ;
    color: antiquewhite;
}

.layout2 {
    border: 5px solid #F25E3D;
    padding: 10px;
    color: transparent;
    background: url(image/luffy.jpg) no-repeat center/cover;
}

.layout2:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgb(126, 65, 65)), url(image/luffy.jpg) no-repeat center/cover;
    color: antiquewhite;
}

.layout3 {
    border: 5px solid #F2B950;
    padding: 10px;
    color: transparent;
    background: url(image/sanji.jpg) no-repeat center/cover;
}

.layout3:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgb(124, 123, 72)), url(image/sanji.jpg) no-repeat center/cover;
    color: antiquewhite;
}

.graph {
    border: 5px solid black;
    padding: 15px;
    height: 50vh;
    width: 99vw;
    justify-content: space-around;
    background: rgb(59, 53, 53);
    display: flex;
    align-items: flex-end;
}

.element {
    padding: 12px;
    width: 60px;
    background-color: #94B5FA;
    height: var(--percent);
    animation: growth ease 1s;
}

@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent)-70%)
    }
    to {
        opacity: 1;
        height: calc(--percent);
    }
}

.box4 {
    border: 5px solid black;
    padding-left: 20vw;
    height: 95vh;
    width: 99vw;
    display: flex;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.05), rgb(59, 53, 53)), url(image/map.jpg) no-repeat center/cover;
}

.firt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 30vw;
    transition-duration: 2s;
    border: black solid 5px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.05), rgb(59, 53, 53)), url(image/countryside.webp) no-repeat center /cover;
}

.firt:hover {
    width: 40vw;
    color: #94B5FA;
}

.second {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.second-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 30vw;
    margin: 5px;
    transition-duration: 2s;
    border: black solid 5px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.025), rgb(59, 53, 53)), url(image/hometown.jpg) no-repeat center /cover;
}

.second-1:hover {
    width: 40vw;
    color: #94B5FA;
}

.second-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 30vw;
    border: black solid 5px;
    transition-duration: 2s;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.05), rgb(59, 53, 53)), url(image/grass.jpg) no-repeat center/cover;
    flex: 1;
}

.second-2:hover {
    width: 40vw;
    color: #94B5FA;
}

.box4 h1 {
    font-size: 18px;
}


/* .btn-background{
    height:100vh;
    width: 98,7vw;
}
.btn{
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius:50px;
    padding: 10px;
    cursor: pointer ;
    transition: opacity .2s ease;
}
.btn:hover{
opacity: 0.8;
}
.btn + .btn{
    margin-left: 16px;
}
.btn--success{
    background-color:#65A69A;
}
.btn--warn{
    background-color: #F2B950;
}
.btn--danger{
    background-color: #F25E3D;
} */


/* 
.toast {
    width: 98, 7vw;
    height: 100vh;
} */

.vid {
    border: 5px solid black;
    height: 93vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    position: absolute;
    left: 0;
    right: 0;
    width: 98.6vw;
    height: 92vh;
    z-index: 1;
    object-fit: cover;
    opacity: 0.7;
}

.Text {
    z-index: 10;
}

.texth {
    color: black;
}

.message {
    color: white;
}

.overlay {
    position: absolute;
    width: 98.7vw;
    height: 92vh;
    background: #0d0d0d;
    mix-blend-mode: overlay;
}